{
    "extends": "airbnb",
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "ecmaFeatures": {
        "es6": true
    },
    "rules": {
        "arrow-body-style": 0,
        "no-param-reassign": ["error", { "props": false }],
        "no-else-return": 0,
        "max-len": 0,
        "func-names": 0,
        "new-cap": 0,
    }
}
